<form action="/login-form" method="POST" class="form-example">
  <fieldset>
    <label for="name">Naam:</label>
    <input type="text" name="name" id="name" required>
  </fieldset>
  <fieldset>
    <label for="password">Wachtwoord:</label>
    <input type="password" name="password" id="password" required>
  </fieldset>
  <fieldset>
    <input type="submit" value="Log in!">
  </fieldset>
</form>